<div class="search-bar">
  <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Type the name of the movie..."
         aria-label="Search">
</div>
<div class="main-container">
  <div class="movies-list-header">
    <span class="count">
      {{movies.length}} Movies
    </span>
  </div>
  <hr color="#dc4666">
  <div class="movies-list">
    <div *ngFor="let movie of movies | filter: searchText" class="movie">
      <a [routerLink]="['/movies', movie.id]">
        <figure>
          <img src="assets/movies/{{movie.img}}" alt="movie poster" class="movie-poster">
        </figure>
        <p class="title">{{movie.name}}</p>
        <p class="rate">Rate: {{movie.rate}}</p>
      </a>
    </div>
  </div>
</div>
