* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    color: #1c1e21;
    line-height: 1.5;
}
main {
    height: 96vh;
    width: 80vw;
    position: relative;
    margin: 0 auto;
}
footer {
    background-color: #fff;
    height: 24vh;
    padding-top: 15px;
    color: #737373;
}

.top-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    max-width: 1000px;
    left: 49%;
    top: 39%;
    transform: translate(-50%, -50%);
}
.bottom-content {
    max-width: 500px;
}
.logo {
    flex: 0 0 60%;
    text-align: left;
}
.form {
    margin-top: 100px;
    flex: 0 0 40%;
    text-align: center;

}

.logo h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding-left: 30px;
}

#fb-logo {
    margin-bottom: -13px;
    height: 106px;
}

.form-content {
    background-color: #fff;
    border-radius: 7px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 13px 15px 15px 15px;
    height: 340px;
    max-width: 400px;
}
.form .form-content input, .btn-log-in {
    width: 100%;
    margin: 6px 0;
    height: 50px;
    vertical-align: middle;
    font-size: 17px;
}
input {
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
    padding: 0 16px;
    color: #1d2129;
}
input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 0 1px #c4c9d4;
    opacity: 0.7;

}
.btn-log-in {
    border: none;
    border-radius: 6px;
    background-color: #1877f2;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 0 16px;
    margin-top: 10px;
}
.btn-log-in:hover{
    background-color: #176edc;
    cursor: pointer;
}
.form .form-content a {
    display: block;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    padding: 10px 0 15px;
    border-bottom: 1px solid #dadde1;
}

.form .form-content a:hover {
    text-decoration: underline;
}

.btn-new {
    background-color: #42b72a;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 20px;
    font-size: 17px;
}

.btn-new:hover {
    background-color: #3e9828;
    cursor: pointer;
}

.form p {
    font-size: 14px;
}

.form p a {
    text-decoration: none;
    color: #1c1e21;
}

.form p a:hover {
    text-decoration: underline;
}

.bottom-content {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

}
#advertisement {
    height: 13px;
    position: absolute;
    top: 90px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ul:first-child {
    border-bottom: 1px solid #dddfe2;
}

#btn-lang {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 3px;
    color: #4b4f56;
    outline: none;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;

}

#btn-lang:hover {
    background-color: #e8e9ea;
    cursor: pointer;
}

footer .bottom-content .upper_list li{
    padding-right: 12px;
    font-size: 12px;
}

footer .bottom-content ul li a{
    text-decoration: none;
    color: #737373;
    opacity: 0.8;
}
footer .bottom-content .bottom_list li {
        padding-right: 20px;
        font-size: 12px;
}

footer .bottom-content ul li a:hover{
    text-decoration: underline;
}

.meta_copyright {
    margin-top: 10px;
    font-size: 11px;
}
